#navbar-itens li a {
    font-size: 0.8em;
}

#about-container {
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

#about .headline{
    padding: 0;
}

#skills #skills-container{
    row-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
}


body #projects{
    height: 400px;   
}

@media screen and (max-width: 630px){
    #showcase #chaves {
        width: 150px;
    }

    body #about-container p {
        
        width: 400px;
    }

    body #projects{
        height: 300px; 
        
    }

    #projects #projects-container {
        margin-top: 10px;
    }

    #projects #projects-container div {
        width: 110px;
        height: 110px;
    }

    body .contact-container img{
        width: 30px;
    }

    body .contact-container a{
        margin: 0px 30px; 
    }
}

@media screen and (max-width: 500px){
    body #showcase-container h2 {
        font-size: 1.3rem;
        width: 175px;
    }

     #showcase #chaves {
        width: 120px;
    }

    body #about-container p {
        font-size: 0.8em;
        width: 300px;
    }

    #projects #projects-container > div{
        width: 100px;
        height: 100px;
    }

    body #projects{
        height: auto;
    }

    #projects #projects-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-container{
        flex-direction: column;
        align-content: space-between
        ;

    }


}

